<h2 class="title">🛒 My Orders</h2>

<p *ngIf="loading && orders.length === 0">Loading orders...</p>

<p *ngIf="!loading && orders.length === 0">
  No orders found
</p>

<div *ngIf="!loading && orders.length > 0" class="orders">

  <div class="order-card" *ngFor="let o of orders">

    <img [src]="o.image || 'https://via.placeholder.com/150'">

    <div>
      <h4>{{ o.name }}</h4>
      <p>Qty: {{ o.quantity }}</p>
      <p>₹{{ o.price }}</p>
      <small>{{ o.orderDate | date:'medium' }}</small>
    </div>

  </div>

</div>
